.welcome-header {
    display: flex;
    margin: 70px 0px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.welcome-header__title {
    margin-bottom: 20px;
    font-size: 25px;
}

.welcome-header__text {
    width: 60%;
    margin-bottom: 20px;
    opacity: 0.6;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border: none;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 410;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    transition: border-color 0.3s ease-in-out;
}

#login-form input[type="submit"] {
    border-bottom: none;
    background-color: var(--frog);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 10px;
}